In [0]:
sc

In [0]:
# a) Create HR_Employee Pysaprk dataFrame
from pyspark.sql.functions import *
hr_employee_df = spark.read.csv('dbfs:/FileStore/tables/HR_Employee.csv',header=True,inferSchema=True)
hr_employee_df.createOrReplaceTempView("hremployeetable")
hr_employee_df.count()

Out[2]: 1469

In [0]:
# b) Show printSchema & show 10 rows of Dataset
hr_employee_df.printSchema()
hr_employee_df.show(10)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|          Department|             JobRole|Attrition|Gender|Age|MaritalStatus|    Education|EducationField|   BusinessTravel|JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|         1|               Sales|     Sales Executive|      Yes|Female| 41|       Single|      College| Life Sciences|    Travel_Rarely|          High|       2|      Very High|        94|  5993|        11|     Yes|     8|                      0|         Medium|                    0|            Bad|         Excellent|
|         2|Research & Develo...|  Research Scientist|       No|  Male| 49|      Married|Below College| Life Sciences|Travel_Frequently|        Medium|       2|         Medium|        61|  5130|        23|      No|    10|                      1|           High|                    3|         Better|       Outstanding|
|         3|Research & Develo...|Laboratory Techni...|      Yes|  Male| 37|       Single|      College|         Other|    Travel_Rarely|        Medium|       1|           High|        92|  2090|        15|     Yes|     7|                      0|      Very High|                    3|         Better|         Excellent|
|         4|Research & Develo...|  Research Scientist|       No|Female| 33|      Married|       Master| Life Sciences|Travel_Frequently|          High|       1|           High|        56|  2909|        11|     Yes|     8|                      3|      Very High|                    3|         Better|         Excellent|
|         5|Research & Develo...|Laboratory Techni...|       No|  Male| 27|      Married|Below College|       Medical|    Travel_Rarely|          High|       1|         Medium|        40|  3468|        12|      No|     6|                      2|            Low|                    3|         Better|         Excellent|
|         6|Research & Develo...|Laboratory Techni...|       No|  Male| 32|       Single|      College| Life Sciences|Travel_Frequently|          High|       1|      Very High|        79|  3068|        13|      No|     8|                      3|      Very High|                    2|           Good|         Excellent|
|         7|Research & Develo...|Laboratory Techni...|       No|Female| 59|      Married|     Bachelor|       Medical|    Travel_Rarely|     Very High|       1|            Low|        81|  2670|        20|     Yes|    12|                      0|           High|                    3|           Good|       Outstanding|
|         8|Research & Develo...|Laboratory Techni...|       No|  Male| 30|     Divorced|Below College| Life Sciences|    Travel_Rarely|          High|       1|           High|        67|  2693|        22|      No|     1|                      0|      Very High|                    2|         Better|       Outstanding|
|         9|Research & Develo...|Manufacturing Dir...|       No|  Male| 38|       Single|     Bachelor| Life Sciences|Travel_Frequently|        Medium|       3|           High|        44|  9526|        21|      No|    10|                      1|      Very High|                    2|         Better|       Outstanding|
|        10|Research & Develo...|Healthcare Repres...|       No|  Male| 36|      Married|     Bachelor|       Medical|    Travel_Rarely|          High|       2|           High|        94|  5237|        13|      No|    17|                      7|           High|                    3|           Good|         Excellent|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

In [0]:
# c) Most employee is working in which department
spark.sql("select Department,count(*) as EmployeeCount from hremployeetable group by Department order by EmployeeCount DESC").show(truncate=False)
# In Research & Development Department

+----------------------+-------------+
|Department            |EmployeeCount|
+----------------------+-------------+
|Research & Development|961          |
|Sales                 |445          |
|Human Resources       |63           |
+----------------------+-------------+

In [0]:
# d)Highest number of job roles
spark.sql("select JobRole,count(*) as JobRoleCount from hremployeetable group by JobRole order by JobRoleCount Desc").show(truncate=False)
#In Sales Executive Role

+-------------------------+------------+
|JobRole                  |JobRoleCount|
+-------------------------+------------+
|Sales Executive          |326         |
|Research Scientist       |292         |
|Laboratory Technician    |259         |
|Manufacturing Director   |145         |
|Healthcare Representative|131         |
|Manager                  |102         |
|Sales Representative     |82          |
|Research Director        |80          |
|Human Resources          |52          |
+-------------------------+------------+

In [0]:
# e) Which gender have higher strength as workforce?
spark.sql("select Gender,count(*) as GenderCount from hremployeetable group by Gender order by GenderCount Desc").show(truncate=False)
#Male

+------+-----------+
|Gender|GenderCount|
+------+-----------+
|Male  |881        |
|Female|588        |
+------+-----------+

In [0]:
# f) Compare the marital status of employee and find the most frequent status.
spark.sql("select MaritalStatus,count(*) as MaritalCount from hremployeetable group by MaritalStatus order by MaritalCount Desc").show(truncate=False)
#Married has most count.

+-------------+------------+
|MaritalStatus|MaritalCount|
+-------------+------------+
|Married      |672         |
|Single       |470         |
|Divorced     |327         |
+-------------+------------+

In [0]:
# g) Mostly hired employee have qualification
spark.sql("select Education,count(*) as QualificationCount from hremployeetable group by Education order by QualificationCount Desc").show(truncate=False)
#Bachelor Qualification are hired mostly.

+-------------+------------------+
|Education    |QualificationCount|
+-------------+------------------+
|Bachelor     |572               |
|Master       |398               |
|College      |282               |
|Below College|169               |
|Doctor       |48                |
+-------------+------------------+

In [0]:
# h) Find the count of employee from which education fields 
spark.sql("select EducationField,count(*) as EduCount from hremployeetable group by EducationField order by EduCount Desc").show()

+----------------+--------+
|  EducationField|EduCount|
+----------------+--------+
|   Life Sciences|     605|
|         Medical|     464|
|       Marketing|     159|
|Technical Degree|     132|
|           Other|      82|
| Human Resources|      27|
+----------------+--------+

In [0]:
# i) What is the job satisfaction level of employee?
spark.sql("select JobSatisfaction,count(*) as SatisfactionCount from hremployeetable group by JobSatisfaction order by SatisfactionCount Desc").show()

+---------------+-----------------+
|JobSatisfaction|SatisfactionCount|
+---------------+-----------------+
|      Very High|              459|
|           High|              441|
|            Low|              289|
|         Medium|              280|
+---------------+-----------------+

In [0]:
# j) Does most of employee do overtime: Yes or No?
spark.sql("select OverTime,count(*) as OvertimeCount from hremployeetable group by OverTime order by OvertimeCount Desc").show()
#No

+--------+-------------+
|OverTime|OvertimeCount|
+--------+-------------+
|      No|         1053|
|     Yes|          416|
+--------+-------------+

In [0]:
# k) Find Min & Max Salaried employees.
spark.sql("select EmployeeId, Income from hremployeetable where Income = (select min(Income) from hremployeetable)").show()
spark.sql("select EmployeeId, Income from hremployeetable where Income = (select max(Income) from hremployeetable)").show()

+----------+------+
|EmployeeId|Income|
+----------+------+
|       514|  1009|
+----------+------+

+----------+------+
|EmployeeId|Income|
+----------+------+
|       191| 19999|
+----------+------+

In [0]:
# l) Does most of the employee do business travel? Find no.of the employees counts for each category
spark.sql("select JobRole,count(*) as TravelFrequency from hremployeetable where BusinessTravel != 'Non-Travel' group by JobRole order by TravelFrequency Desc").show(truncate=False)

+-------------------------+---------------+
|JobRole                  |TravelFrequency|
+-------------------------+---------------+
|Sales Executive          |287            |
|Research Scientist       |264            |
|Laboratory Technician    |231            |
|Manufacturing Director   |132            |
|Healthcare Representative|116            |
|Manager                  |90             |
|Sales Representative     |77             |
|Research Director        |74             |
|Human Resources          |48             |
+-------------------------+---------------+

In [0]:
# m) Find the AVG salary of graduate employee.
spark.sql("select Education,avg(Income) as AvgIncome from hremployeetable where Education = 'Bachelor' or Education = 'College' group by Education order by AvgIncome Desc").show(truncate=False)

+---------+-----------------+
|Education|AvgIncome        |
+---------+-----------------+
|Bachelor |6517.263986013986|
|College  |6226.645390070922|
+---------+-----------------+

In [0]:
# n) Find the employee qualification receiving salary lower than equal to avg. salary of all employee. 
spark.sql("select EmployeeID,Education,Income from hremployeetable where Income <= (select avg(Income) from hremployeetable)").show()

+----------+-------------+------+
|EmployeeID|    Education|Income|
+----------+-------------+------+
|         1|      College|  5993|
|         2|Below College|  5130|
|         3|      College|  2090|
|         4|       Master|  2909|
|         5|Below College|  3468|
|         6|      College|  3068|
|         7|     Bachelor|  2670|
|         8|Below College|  2693|
|        10|     Bachelor|  5237|
|        11|     Bachelor|  2426|
|        12|      College|  4193|
|        13|Below College|  2911|
|        14|      College|  2661|
|        15|     Bachelor|  2028|
|        17|      College|  3298|
|        18|      College|  2935|
|        20|     Bachelor|  3944|
|        21|      College|  4011|
|        22|       Master|  3407|
|        24|      College|  1232|
+----------+-------------+------+
only showing top 20 rows

In [0]:
# o) When does the employee have highest chance of promotion in terms of working year?
#

In [0]:
# p) Highest attrition is in which department?
spark.sql("select Department, count(*) as AttritionCount from hremployeetable where Attrition == 'Yes' group by Department order by AttritionCount Desc").show(truncate=False)
#In Research & Development Department

+----------------------+--------------+
|Department            |AttritionCount|
+----------------------+--------------+
|Research & Development|133           |
|Sales                 |92            |
|Human Resources       |12            |
+----------------------+--------------+

In [0]:
# q) Show marital status of Person having highest attrition rate
spark.sql("select MaritalStatus, count(*) as AttritionCount from hremployeetable where Attrition == 'Yes' group by MaritalStatus order by AttritionCount Desc").show()

+-------------+--------------+
|MaritalStatus|AttritionCount|
+-------------+--------------+
|       Single|           120|
|      Married|            84|
|     Divorced|            33|
+-------------+--------------+