In [0]:
sc

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession


pivotDF = spark.read.format("com.crealytics.spark.excel").option("header","true").option("inferSchema","true")\
    .load("dbfs:/FileStore/tables/Pyspark_Task.xlsx")

pivotDF.show(truncate=False)

"""data2 = [("P1","PL1",20000,25000,19000,22000,23000,13000,12000,13000,13500,14000),
    ("P2","PL1",80000,90000,75000,78000,100000,18000,18000,18000,18000,18000),
    ("P3","PL3",35000,32000,56000,40000,42000,17000,20000,16000,15000,15000),
    ("P4","PL2",15000,23000,42000,12000,13000,13000,13000,13000,13000,13000),
    ("P5","PL1",85000,19000,24000,15000,13000,20000,22000,23000,23000,21000)]

schema = StructType([StructField("Product",StringType(),True),
                    StructField("Plant Name",StringType(),True),
                    StructField("Sales_18",IntegerType(),True),
                    StructField("Sales_19",IntegerType(),True),
                    StructField("Sales_20",IntegerType(),True),
                    StructField("Sales_21",IntegerType(),True),
                    StructField("Sales_22",IntegerType(),True),
                    StructField("Inv_18",IntegerType(),True),
                    StructField("Inv_19",IntegerType(),True),
                    StructField("Inv_20",IntegerType(),True),
                    StructField("Inv_21",IntegerType(),True),
                    StructField("Inv_22",IntegerType(),True)])
 
pivotDF = spark.createDataFrame(data=data2,schema=schema)"""
#pivotDF.printSchema()

+-------+----------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+
|Product|Plant Name|Sales_18|Sales_19|Sales_20|Sales_21|Sales_22|Inv_18 |Inv_19 |Inv_20 |Inv_21 |Inv_22 |
+-------+----------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+
|P1     |PL1       |20000.0 |25000.0 |19000.0 |22000.0 |23000.0 |13000.0|12000.0|13000.0|13500.0|14000.0|
|P2     |PL1       |80000.0 |90000.0 |75000.0 |78000.0 |100000.0|18000.0|18000.0|18000.0|18000.0|18000.0|
|P3     |PL3       |35000.0 |32000.0 |56000.0 |40000.0 |42000.0 |17000.0|20000.0|16000.0|15000.0|15000.0|
|P4     |PL2       |15000.0 |23000.0 |42000.0 |12000.0 |13000.0 |13000.0|13000.0|13000.0|13000.0|13000.0|
|P5     |PL1       |85000.0 |19000.0 |24000.0 |15000.0 |13000.0 |20000.0|22000.0|23000.0|23000.0|21000.0|
+-------+----------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+

Out[1]: 'data2 = [("P1","PL1",20000,25000,19000,22000,23000,13000,12000,13000,13500,14000),\n    ("P2","PL1",80000,90000,75000,78000,100000,18000,18000,18000,18000,18000),\n    ("P3","PL3",35000,32000,56000,40000,42000,17000,20000,16000,15000,15000),\n    ("P4","PL2",15000,23000,42000,12000,13000,13000,13000,13000,13000,13000),\n    ("P5","PL1",85000,19000,24000,15000,13000,20000,22000,23000,23000,21000)]\n\nschema = StructType([StructField("Product",StringType(),True),\n                    StructField("Plant Name",StringType(),True),\n                    StructField("Sales_18",IntegerType(),True),\n                    StructField("Sales_19",IntegerType(),True),\n                    StructField("Sales_20",IntegerType(),True),\n                    StructField("Sales_21",IntegerType(),True),\n                    StructField("Sales_22",IntegerType(),True),\n                    StructField("Inv_18",IntegerType(),True),\n                    StructField("Inv_19",IntegerType(),True),\n                    StructField("Inv_20",IntegerType(),True),\n                    StructField("Inv_21",IntegerType(),True),\n                    StructField("Inv_22",IntegerType(),True)])\n \npivotDF = spark.createDataFrame(data=data2,schema=schema)'

In [0]:
unpivotExpr = "stack(10,'Sales_18',Sales_18, 'Sales_19',Sales_19, 'Sales_20',Sales_20, 'Sales_21',Sales_21, 'Sales_22',Sales_22,'Inv_18',Inv_18, 'Inv_19',Inv_19, 'Inv_20',Inv_20,'Inv_21',Inv_21, 'Inv_22',Inv_22) as (Metric,Value)"


unPivotDF = pivotDF.select('Product','Plant Name',expr(unpivotExpr)).where("Value is not null")
unPivotDF.show(100,truncate=False)
#unPivotDF.show(100)

+-------+----------+--------+--------+
|Product|Plant Name|Metric  |Value   |
+-------+----------+--------+--------+
|P1     |PL1       |Sales_18|20000.0 |
|P1     |PL1       |Sales_19|25000.0 |
|P1     |PL1       |Sales_20|19000.0 |
|P1     |PL1       |Sales_21|22000.0 |
|P1     |PL1       |Sales_22|23000.0 |
|P1     |PL1       |Inv_18  |13000.0 |
|P1     |PL1       |Inv_19  |12000.0 |
|P1     |PL1       |Inv_20  |13000.0 |
|P1     |PL1       |Inv_21  |13500.0 |
|P1     |PL1       |Inv_22  |14000.0 |
|P2     |PL1       |Sales_18|80000.0 |
|P2     |PL1       |Sales_19|90000.0 |
|P2     |PL1       |Sales_20|75000.0 |
|P2     |PL1       |Sales_21|78000.0 |
|P2     |PL1       |Sales_22|100000.0|
|P2     |PL1       |Inv_18  |18000.0 |
|P2     |PL1       |Inv_19  |18000.0 |
|P2     |PL1       |Inv_20  |18000.0 |
|P2     |PL1       |Inv_21  |18000.0 |
|P2     |PL1       |Inv_22  |18000.0 |
|P3     |PL3       |Sales_18|35000.0 |
|P3     |PL3       |Sales_19|32000.0 |
|P3     |PL3       |Sales_20|56000.0 |
|P3     |PL3       |Sales_21|40000.0 |
|P3     |PL3       |Sales_22|42000.0 |
|P3     |PL3       |Inv_18  |17000.0 |
|P3     |PL3       |Inv_19  |20000.0 |
|P3     |PL3       |Inv_20  |16000.0 |
|P3     |PL3       |Inv_21  |15000.0 |
|P3     |PL3       |Inv_22  |15000.0 |
|P4     |PL2       |Sales_18|15000.0 |
|P4     |PL2       |Sales_19|23000.0 |
|P4     |PL2       |Sales_20|42000.0 |
|P4     |PL2       |Sales_21|12000.0 |
|P4     |PL2       |Sales_22|13000.0 |
|P4     |PL2       |Inv_18  |13000.0 |
|P4     |PL2       |Inv_19  |13000.0 |
|P4     |PL2       |Inv_20  |13000.0 |
|P4     |PL2       |Inv_21  |13000.0 |
|P4     |PL2       |Inv_22  |13000.0 |
|P5     |PL1       |Sales_18|85000.0 |
|P5     |PL1       |Sales_19|19000.0 |
|P5     |PL1       |Sales_20|24000.0 |
|P5     |PL1       |Sales_21|15000.0 |
|P5     |PL1       |Sales_22|13000.0 |
|P5     |PL1       |Inv_18  |20000.0 |
|P5     |PL1       |Inv_19  |22000.0 |
|P5     |PL1       |Inv_20  |23000.0 |
|P5     |PL1       |Inv_21  |23000.0 |
|P5     |PL1       |Inv_22  |21000.0 |
+-------+----------+--------+--------+